:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --headerHeight: 132px;
  --footerHeight: 116px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: calc(100vh - (var(--headerHeight) + var(--footerHeight)) - 7rem); */
  color: #333;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Styles for movie-list */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  min-height: calc(100vh - (var(--headerHeight) + var(--footerHeight)) - 5rem);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto !important;
  color: #333;
}

.topBar {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.topBar h1 {
  margin: 0;
  font-size: 3rem;
  color: #333;
}

.moviePoster{
  aspect-ratio: 2/3;
  object-fit:cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.topBar .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 3.5rem;
  cursor: pointer;
  color: #535bf2;
  transition: color 0.25s;
}

.topBar .material-symbols-outlined:hover {
  color: #ccc;
}

/* MovieList */
.movie-list  {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: fit-content;
  min-width: 200px;
  width: fit-content;
  border-radius: 0.5rem;
  margin: 0;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  color: #333;
  border: 4px solid #ddd;
  position: relative;
}

.filters .legend {
  margin: 0;
  font-size: 2rem;
  position: absolute;
  top: -1.5rem;
  background-color: #f9f9f9;
  padding: 0 1rem;
}

.filters span {
  top: -0.5rem;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: visible;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1rem;
}

.filter select, .filter input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid #535bf2;
}

.filter select {
  scrollbar-color: #535bf2 #f9f9f9;
  scrollbar-width: thin;
  
}

/* Styles for list view */
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
  color: #333;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.list-item .movie-details {
  margin-top: 0;
}

.list-item a img {
  width: 200px;
  aspect-ratio: 2/3;
  border-radius: 0.5rem;
}

.list-item .movie-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.list-item .movie-details h2 {
  margin: 0;
  font-size: 2rem;
}

.list-item .movie-details p {
  margin: 0;
  text-align: justify;
  font-size: 1.25rem;
}

/* Styles for grid view */

.grid-item {
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #333;
}

.grid-item {
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.grid-item h2 {
  font-size: 1rem;
  height: 2.5rem;
  margin: 10px 0;
  padding: 0 10px;
}

.grid-item p {
  font-size: 1rem;
  margin: 0;
  padding: 0 10px 10px;
}

/* Styles for header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ccc;
  color: #fff;
}

/* Styles for searchBar */
.searchBar {
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

form button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid #333;
}

/* Styles for mainNav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: none;
  color: #fff;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Styles for Login Menu Item */
.authLink {
  align-items: center;
  color: #535bf2;
  /* border: 2px solid #535bf2; */
  padding: 0 0.25rem;
  padding-bottom: 0.35rem;
  vertical-align: middle;
  border-radius: 0.35rem;
}

.authLink:hover {
  background-color: #535bf2;
  color: #f9f9f9;
}

/* Styles for footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ccc;
  color: #f9f9f9;
  height: fit-content;
  margin-top: 1rem;
}

footer a {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.copyRight {
  font-size: 1.5rem;
  font-weight: bold;
}

.copyRight a {
  color: #f9f9f9;
  text-decoration: none;
}

/* Styles for page-navigation */
.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: none;
  color: #333;
  height: fit-content;
  margin-top: 1rem;
  width: 70%;
  margin: 0 auto;
}

.page-navigation button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.disabled {
  color: #999; /* Change the color to a muted gray or any color of your choice */
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
  opacity: 0.5; /* Optionally reduce opacity to visually indicate it's disabled */
}

.singleContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 70%;
  min-height: 56.8vh;
  margin: 0 auto;
  
}

.singleContainer img {
  aspect-ratio: 2/3 !important;
  object-fit: cover !important;
  border-radius: 0.25rem;
  max-width: 25% !important;
  margin-top: 0;
}

.singleContainer .movieDetails {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  color: #333;
  padding: 1rem;
  padding-top: 0;
}

.singleContainer .movieDetails h1 {
  margin: 0;
}



.singlePageRelated {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
}

.container hr {
  margin: 0 auto;
  border: 1px solid #535bf2;
  width: 70%;
}

.singlePageRelated h2 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.singlePageRelated .relatedMovies {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #535bf2 #f9f9f9;
}

.relatedMovies img {
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}

.relatedMovies h6 {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
  color: #333;
}

iframe {
  border: none;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.progress-bar {
  display: inline-block;
  width: 100%; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: #ccc; /* Background color of the progress bar */
  border-radius: 4px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing content */
}

.movieDetails .progress-bar, .movie-details .progress-bar {
  width: 280px;
  max-width: 100%;
}

/* Styles for progress bar */
.progress {
  height: 100%;
  background-color: #535bf2; /* Color of the filled portion */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  line-height: 20px; /* Center the text vertically */
  transition: width 0.9s ease; /* Smooth transition for width changes */
}

.progress0 {
  height: 100%;
  color: #535bf2; /* Text color */
  text-align: center; /* Center the text */
  line-height: 20px; /* Center the text vertically */
  transition: width 0.9s ease; /* Smooth transition for width changes */
}
/* Styles for progress bar ends */

/* Styles for carousel */
.carousel {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 16%; /* Adjust width to fit your layout */
  flex: 0 0 auto; /* Adjust margin to fit your layout */
  /*padding: 0 0.25px; /* Add padding if needed */
  margin: 0 0.25px; /* Add margin if needed */
}

.carousel-item img {
  width: 200px; /* Adjust width as needed */
  height: auto;
}

.carousel-item h3 {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  color: #535bf2;
}
/* Carousel ends */

/* Styles for Hero Banner */

.hero-banner {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 70vh;
  margin: -2rem 0 2rem -20px;
}

.hero-carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.hero-carousel-item {
  flex: 0 0 100%;
  width: 100%; 
  position: relative;
}

.hero-carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
}

.hero-carousel-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-prev,
.hero-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.hero-prev {
  left: 10px;
}

.hero-next {
  right: 20px;
}
/* Hero Banner ends */

/* Auth Page start */
#authPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

#authForm {
  padding: 1rem;
  width: fit-content;
}

#authForm h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  -webkit-text-stroke: 2px;
  letter-spacing: 4px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #535bf2;
  background-color: #ccc;
}

#authForm form {
  border: 0px solid #000;
  border-radius: 0.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
}

#authForm label {
  color: #535bf2;
  font-weight: bold;
  padding-right: 1rem;
}

#authForm input {
  accent-color: #bbb;
  color: #535bf2;
  background-color: #ccc;
  border: 1px solid darkslateblue;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;

  display: flex;
  flex-direction: row;
}

#authForm button[type='submit'] {
  place-items: center;
  background-color: #ccc;
  padding: 0.5rem 0.125rem;
  border-radius: 0.25rem;
  border: 1px solid #333;
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}

#authForm button[type='submit']:hover {
  background-color: #535bf2;
  color: #f9f9f9;
  border-color: #f9f9f9;
}

#authForm > button[type='button'] {
  color: darkslateblue;
  border: 1px solid none;
}

#authForm > button[type='button']:hover {
  border: 1px solid none;
}

#authForm #authP {
  cursor: pointer;
  color: darkgreen;
  font-weight: bolder;
  margin-top: 1rem;
}
/* Auth Page end */

/* Styles for Dashboard page start */

#dashPage {
  display: flex;
  justify-content: center;
}

#dash {
  margin: 1rem auto;
  padding: 1rem;
  width: fit-content;
  min-width: 20vw;
}

#dash form {
  border: 0px solid #000;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
}

#dash form button {
  width: calc(100% + 1rem);
}

#dash form button:hover {
  background-color: #535bf2;
  color: #f9f9f9;
  border-color: #f9f9f9;
}

#dash h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  -webkit-text-stroke: 2px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
}

#dash h3 {
  text-align: center;
  font-size: 1.75rem;
  -webkit-text-stroke: 2px;
  color: #535bf2;
  letter-spacing: 2px;
  margin: 2rem auto;
}

#dash h4 {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  -webkit-text-stroke: 1px;
  letter-spacing: 1px;
  margin: 0.5rem auto;
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
}

#dash label {
  color: #535bf2;
  font-weight: bold;
}

#dash input {
  accent-color: #bbb;
  color: #535bf2;
  background-color: #ccc;
  border: 1px solid #535bf2;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;

  display: flex;
  flex-direction: row;
}

/* Styles for dashboard ends */

/* Styles for restricted page starts */
#plsSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  color: #535bf2;
}

#plsSignIn a {
  text-decoration: none;
  font-size: 3rem;
  color: #535bf2;
}
/* Styles for restricted page ends */